body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Noto Sans TC', sans-serif;
  background-color: lighten(#000, 30%);
  background-image: url('/image/bg-min.jpg');
  // background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#app {
  // max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
